<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="abdominalInseption">
            <h2><span jhiTranslate="medicalInspectionApplicationApp.abdominalInseption.detail.title">Abdominal Inseption</span> {{ abdominalInseption.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="medicalInspectionApplicationApp.abdominalInseption.bloodGroup">Blood Group</span></dt>
                <dd>
                    <span>{{ abdominalInseption.bloodGroup }}</span>
                </dd>
                <dt><span jhiTranslate="medicalInspectionApplicationApp.abdominalInseption.doctorComments">Doctor Comments</span></dt>
                <dd>
                    <span>{{ abdominalInseption.doctorComments }}</span>
                </dd>
                <dt><span jhiTranslate="medicalInspectionApplicationApp.abdominalInseption.medicalCondition">Medical Condition</span></dt>
                <dd>
                    <div *ngIf="abdominalInseption.medicalConditionId">
                        <a [routerLink]="['/medical-condition', abdominalInseption.medicalConditionId, 'view']">{{ abdominalInseption.medicalConditionId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="medicalInspectionApplicationApp.abdominalInseption.inspectionResult">Inspection Result</span></dt>
                <dd>
                    <div *ngIf="abdominalInseption.inspectionResultId">
                        <a [routerLink]="['/inspection-result', abdominalInseption.inspectionResultId, 'view']">{{ abdominalInseption.inspectionResultId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/abdominal-inseption', abdominalInseption.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
