<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-persons-heading" jhiTranslate="medicalInspectionApplicationApp.persons.home.createOrEditLabel">Create or edit a Persons</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicalInspectionApplicationApp.persons.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicalInspectionApplicationApp.persons.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicalInspectionApplicationApp.persons.middleName" for="field_middleName">Middle Name</label>
                    <input type="text" class="form-control" name="middleName" id="field_middleName"
                           formControlName="middleName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicalInspectionApplicationApp.persons.familyName" for="field_familyName">Family Name</label>
                    <input type="text" class="form-control" name="familyName" id="field_familyName"
                           formControlName="familyName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicalInspectionApplicationApp.persons.fullName" for="field_fullName">Full Name</label>
                    <input type="text" class="form-control" name="fullName" id="field_fullName"
                           formControlName="fullName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicalInspectionApplicationApp.persons.birthDate" for="field_birthDate">Birth Date</label>
                    <div class="input-group">
                        <input id="field_birthDate" type="text" class="form-control" name="birthDate" ngbDatepicker #birthDateDp="ngbDatepicker" formControlName="birthDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicalInspectionApplicationApp.persons.nationalId" for="field_nationalId">National Id</label>
                    <input type="text" class="form-control" name="nationalId" id="field_nationalId"
                           formControlName="nationalId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicalInspectionApplicationApp.persons.passportNumber" for="field_passportNumber">Passport Number</label>
                    <input type="text" class="form-control" name="passportNumber" id="field_passportNumber"
                           formControlName="passportNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicalInspectionApplicationApp.persons.passportIssueCountry" for="field_passportIssueCountry">Passport Issue Country</label>
                    <select class="form-control" id="field_passportIssueCountry" name="passportIssueCountry" formControlName="passportIssueCountryId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="countryOption.id" *ngFor="let countryOption of passportissuecountries; trackBy: trackById">{{ countryOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
