<div>
    <h2 id="page-heading">
        <span jhiTranslate="medicalInspectionApplicationApp.persons.home.title">Persons</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-persons" [routerLink]="['/persons/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="medicalInspectionApplicationApp.persons.home.createLabel">
            Create a new Persons
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="persons?.length === 0">
        <span jhiTranslate="medicalInspectionApplicationApp.persons.home.notFound">No persons found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="persons && persons.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstName"><span jhiTranslate="medicalInspectionApplicationApp.persons.firstName">First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastName"><span jhiTranslate="medicalInspectionApplicationApp.persons.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="middleName"><span jhiTranslate="medicalInspectionApplicationApp.persons.middleName">Middle Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="familyName"><span jhiTranslate="medicalInspectionApplicationApp.persons.familyName">Family Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fullName"><span jhiTranslate="medicalInspectionApplicationApp.persons.fullName">Full Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="birthDate"><span jhiTranslate="medicalInspectionApplicationApp.persons.birthDate">Birth Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nationalId"><span jhiTranslate="medicalInspectionApplicationApp.persons.nationalId">National Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="passportNumber"><span jhiTranslate="medicalInspectionApplicationApp.persons.passportNumber">Passport Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="passportIssueCountryId"><span jhiTranslate="medicalInspectionApplicationApp.persons.passportIssueCountry">Passport Issue Country</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persons of persons ;trackBy: trackId">
                    <td><a [routerLink]="['/persons', persons.id, 'view']">{{ persons.id }}</a></td>
                    <td>{{ persons.firstName }}</td>
                    <td>{{ persons.lastName }}</td>
                    <td>{{ persons.middleName }}</td>
                    <td>{{ persons.familyName }}</td>
                    <td>{{ persons.fullName }}</td>
                    <td>{{ persons.birthDate | date:'mediumDate' }}</td>
                    <td>{{ persons.nationalId }}</td>
                    <td>{{ persons.passportNumber }}</td>
                    <td>
                        <div *ngIf="persons.passportIssueCountryId">
                            <a [routerLink]="['/country', persons.passportIssueCountryId , 'view']" >{{ persons.passportIssueCountryId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/persons', persons.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/persons', persons.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(persons)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="persons && persons.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
